{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page_header">
        <h2>你好呀, {% if name %}{{ name }}{% else %}陌生人{% endif %}</h2>

        {% if not known %}
            <p>让我看看是哪位少侠！</p>
        {% else %}
            <p>本猿很高兴能再次见到少侠！</p>
        {% endif %}
    </div>

    {{ wtf.quick_form(form) }}

    {# 使用 Flask-Moment 进行时间渲染 #}
	<br>
    <p>现在本地时间为: {{ moment(current_time).format('LLL') }}</p>
    <p>上次刷新距现在： {{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}