<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修炼模板</title>
</head>
<body>
<!--    <a href="/sub/5/2">计算 5-2</a>-->
    <h3>我真的好郁闷...</h3>

	{#一般的变量之类的用 "{}（变量）功能类的，比如循环，条件判断是用" {"%%}"（标签）#}

    <!--渲染一个字符串到页面上-->
	{#	{{ string }}#}

    <!--将列表渲染到页面上-->
	{#	教程列表:#}
	{#    {% for i in TutorialList %}#}
	{#    {{ i }}#}
	{#    {% endfor %}#}

	{#	将字典渲染到页面上 #}
{#	字典信息：#}
{#	HOST：{{ info_dict.host }}#}
{#	PORT：{{ info_dict.port }}#}
	{#	{% for key, value in info_dict.item %}#}
	{#		{{ key }}: {{ value }}#}
	{#	{% endfor %}#}

	{# 模板进行 条件判断和 for 循环的详细操作	#}
	{% for item in List %}
		{{ item }}
		{% if not forloop.last %}
			,
		{% endif %}
	{% endfor %}
</body>
</html>